.card {
  border: none;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transition: box-shadow 0.15s ease-in-out;
}
.card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.bg-primary, .bg-success, .bg-info, .bg-warning {
  background: linear-gradient(45deg, var(--bs-primary), var(--bs-info)) !important;
}
.bg-success {
  background: linear-gradient(45deg, var(--bs-success), var(--bs-info)) !important;
}
.bg-info {
  background: linear-gradient(45deg, var(--bs-info), var(--bs-dark)) !important;
}
.bg-warning {
  background: linear-gradient(45deg, var(--bs-warning), var(--bs-danger)) !important;
} 